
<div class="stepper-wrapper mt-5">
    <div class="stepper-item completed">
        <div class="step-counter"><i class="fas fa-plus-circle"></i></div>
        <div class="step-name">SO Created</div>
    </div>
    <div class="stepper-item completed">
        <div class="step-counter"><i class="fas fa-check-circle"></i></div>
        <div class="step-name">SO Approved</div>
    </div>
    <div class="stepper-item active">
        <div class="step-counter"><i class="fas fa-box"></i></div>
        <div class="step-name">Packaged</div>
    </div>
    <div class="stepper-item">
        <div class="step-counter"><i class="fas fa-truck"></i></div>
        <div class="step-name">Shiped</div>
    </div>
    <div class="stepper-item">
        <div class="step-counter"><i class="fas fa-calendar-check"></i></div>
        <div class="step-name text-center">Expected Delivered <br> 10/05/2024</div>
    </div>
</div>

