// .table-wrapper {
//     max-width: 2000px !important;
//     background: #fff;
//     margin: 10px 20px;
//     padding: 20px;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
// }
// table{
//     max-width: 2000px !important;
// }

// .btn {
//     border-radius: 4px;
//     font-size: 13px;
//     padding-top: 8px;
//     padding-bottom: 8px;
//     padding-left: 25px;
//     padding-right: 25px;
//     border-radius: 30px;
//     border: none;
//     letter-spacing: .02rem;
//     // box-shadow: 0 15px 30px 0 rgba(#000, .2);
//     transition: .3s all ease;
//     position: relative;
//     top: 0;

//     &.btn-sm {
//         font-size: 12px;
//         padding-top: 5px;
//         padding-bottom: 5px;
//         padding-left: 15px;
//         padding-right: 15px;
//     }

//     &.btn-lg {
//         font-size: 16px;
//         padding-top: 15px;
//         padding-bottom: 15px;
//         padding-left: 30px;
//         padding-right: 30px;
//     }

//     &:hover,
//     &:active,
//     &:focus {
//         box-shadow: none;
//         top: 1px;
//     }
// }

// /* Primary */
// .btn-primary {

//     &:hover,
//     &:focus {
//         background-color: lighten(#007bff, 10%);
//     }
// }

// /* Secondary */
// .btn-secondary {

//     &:hover,
//     &:focus {
//         background-color: lighten(#6c757d, 10%);
//     }
// }

// /* Success */
// .btn-success {

//     &:hover,
//     &:focus {
//         background-color: lighten(#28a745, 10%);
//     }
// }


