<div class="card-wrapper">
    <div class="cor-grid-layout">
      <div class="d-flex justify-content-between mb-3">
        <h1>Warehouse Management</h1>
        <div>
          <button class="btn mb-3 mr-3 btn-primary" routerLink="/scm/warehouse/warehouse-details/add">
            + Add New Warehouse
          </button>
        </div>
      </div>
      <hr />
      <div class="card-container">
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Titan Hub
            </h2>
            <span class="cor-active">
              <i class="fa-regular fa-circle-check"></i> Active
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Ahmedabad</div>
          <div class="cor-text">Email : titan-hub-gmail.com</div>
          <div class="cor-text">Phone : +91 333333333</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Galaxy Depot
            </h2>
            <span class="cor-inactive">
              <i class="fa-regular fa-circle-xmark"></i> Inactive
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Pune</div>
          <div class="cor-text">Email : galaxy-depot-gmail.com</div>
          <div class="cor-text">Phone : +91 222222222</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Nexus Center
            </h2>
            <span class="cor-active">
              <i class="fa-regular fa-circle-check"></i> Active
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Bangalore</div>
          <div class="cor-text">Email : nexus-center-gmail.com</div>
          <div class="cor-text">Phone : +91 777777777</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Quantum Facility
            </h2>
            <span class="cor-inactive">
              <i class="fa-regular fa-circle-xmark"></i> Inactive
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Chennai</div>
          <div class="cor-text">Email : quantum-facility-gmail.com</div>
          <div class="cor-text">Phone : +91 666666666</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Pinnacle Vault
            </h2>
            <span class="cor-active">
              <i class="fa-regular fa-circle-check"></i> Active
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Delhi</div>
          <div class="cor-text">Email : pinnacle-vault-gmail.com</div>
          <div class="cor-text">Phone : +91 555555555</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Eclipse Hub
            </h2>
            <span class="cor-inactive">
              <i class="fa-regular fa-circle-xmark"></i> Inactive
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Chandigarh</div>
          <div class="cor-text">Email : eclipse-hub-gmail.com</div>
          <div class="cor-text">Phone : +91 888999666</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Vertex Point
            </h2>
            <span class="cor-active">
              <i class="fa-regular fa-circle-check"></i> Active
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Surat</div>
          <div class="cor-text">Email : vertex-point-gmail.com</div>
          <div class="cor-text">Phone : +91 777888999</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Zenith Depot
            </h2>
            <span class="cor-inactive">
              <i class="fa-regular fa-circle-xmark"></i> Inactive
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Kanpur</div>
          <div class="cor-text">Email : zenith-depot-gmail.com</div>
          <div class="cor-text">Phone : +91 444555666</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Aurora Hub
            </h2>
            <span class="cor-active">
              <i class="fa-regular fa-circle-check"></i> Active
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Lucknow</div>
          <div class="cor-text">Email : aurora-hub-gmail.com</div>
          <div class="cor-text">Phone : +91 333444555</div>
        </div>
  
        <div routerLink="/scm/warehouse/warehouse-details/view" class="card">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="d-flex align-items-center">
              <img class="pr-2" src="../../../../../assets/Logos/WH2.svg" />Summit Center
            </h2>
            <span class="cor-inactive">
              <i class="fa-regular fa-circle-xmark"></i> Inactive
            </span>
          </div>
          <hr />
          <div class="cor-text">Address : Bhopal</div>
          <div class="cor-text">Email : summit-center-gmail.com</div>
          <div class="cor-text">Phone : +91 222333444</div>
        </div>
  
  
      </div>
  </div>