<div class="card-wrapper" style="text-align: center">
  <h1>Bulk Upload Inventory</h1>
</div>
<div class="d-flex">
  <div class="card-wrapper w-50">
    <h1>Instructions for Excel Upload</h1>
    <Ul>
      <li>
        Download the sample Excel File: Click on the provided likk to download
        the sample Excel file. This file contains the template you need to
        follow
      </li>
      <li>
        Fill in the Data: open the downloaded sample excel file and fill in your
        data excatly as shown in the template. Ensure all required fields are
        completed and formatted correctly.
      </li>
      <li>
        Save the File: After entering you data, save the Excel file on your
        computer. Mark sure it retains the .xlsx or .xls file extension.
      </li>
      <li>
        Upload the File: Return to the dashboard, click on the "Choose File"
        button to select you completed Excel file, and then click the "Upload"
        button to submit you data.
      </li>
    </Ul>
  </div>

  <div class="card-wrapper w-50 d-flex flex-column align-items-center">
    <div>
      <!-- <Span>Download Sample File Here</Span> -->
    </div>
    <div><i class="fa-solid fa-download"></i></div>
    <h4>Download Sample File Here</h4>
    <div class="d-flex  align-items-center mt-5">
        <input type="file" class="form-control" /> <i class="fa-solid fa-file-arrow-up upload"></i>
    </div>
    <h2 style="color: dodgerblue;"><b>Upload File</b></h2>
  </div>
</div>
