<div class="d-flex justify-content-between ">
    <h1>Payment Terms</h1>
</div>
<div class="d-flex gap-3 align-items-center">
    <div class="input-box">
        <input formControlName="userName" type="text" placeholder="Enter Payment Terms">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Payment Terms</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>Net 35 / Net 40 / Net 60</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Cash On Delivery (COD)</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>Advance Payment</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
   
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">4</td>
            <td>Cash in Advance</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">5</td>
            <td>Installment Payments</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
       
        
        
    </tbody>
</table>

