<div class="card-wrapper">
    <div class="cor-grid-layout">
        <div class="d-flex justify-content-between mb-3">
            <h1>User Management</h1>
            <div>
                <button class="btn mb-3 mr-3 btn-primary" routerLink="/scm/setting/users/add-user"><i
                        class="fa-solid fa-user-plus"></i> Add User</button>
            </div>
        </div>
        <hr>
        <div class="card-container">
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Saikumar Magishetty</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Admin</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : saimagishetty</div>
                <div class="cor-text">Email : sai-gmail.com</div>
                <div class="cor-text">Phone : 9876543210</div>
            </div>
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Alex Thompson</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Sales Representative</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : alexthompson01</div>
                <div class="cor-text">Email : alex.thompson.example.com</div>
                <div class="cor-text">Phone : 9876543210</div>
            </div>
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Brenda Carter</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Accounts Receivable Clerk</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : brendacarter02</div>
                <div class="cor-text">Email : brenda.carter.example.com</div>
                <div class="cor-text">Phone : 9876543211</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Carlos Rodriguez</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Logistics Coordinator</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : carlosrodriguez03</div>
                <div class="cor-text">Email : carlos.rodriguez.example.com</div>
                <div class="cor-text">Phone : 9876543212</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Dana White</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Carrier Manager</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : danawhite04</div>
                <div class="cor-text">Email : dana.white.example.com</div>
                <div class="cor-text">Phone : 9876543213</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Ethan Scott</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Procurement Officer</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : ethanscott05</div>
                <div class="cor-text">Email : ethan.scott.example.com</div>
                <div class="cor-text">Phone : 9876543214</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Fiona Adams</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Supplier Manager</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : fionaadams06</div>
                <div class="cor-text">Email : fiona.adams.example.com</div>
                <div class="cor-text">Phone : 9876543215</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> George Miller</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Production Planner</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : georgemiller07</div>
                <div class="cor-text">Email : george.miller.example.com</div>
                <div class="cor-text">Phone : 9876543216</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Hannah Brown</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Quality Control Inspector</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : hannahbrown08</div>
                <div class="cor-text">Email : hannah.brown.example.com</div>
                <div class="cor-text">Phone : 9876543217</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Ian Wilson</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Inventory Manager</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : ianwilson09</div>
                <div class="cor-text">Email : ian.wilson.example.com</div>
                <div class="cor-text">Phone : 9876543218</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Jenny Taylor</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Warehouse Staff</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : jennytaylor10</div>
                <div class="cor-text">Email : jenny.taylor.example.com</div>
                <div class="cor-text">Phone : 9876543219</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Kevin Parker</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Warehouse Manager</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : kevinparker11</div>
                <div class="cor-text">Email : kevin.parker.example.com</div>
                <div class="cor-text">Phone : 9876543220</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Laura King</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">Warehouse Operator</p>
                    <span class="cor-active"><i class="fa-regular fa-circle-check"></i> Active</span>
                </div>
                <div class="cor-text">Username : lauraking12</div>
                <div class="cor-text">Email : laura.king.example.com</div>
                <div class="cor-text">Phone : 9876543221</div>
            </div>
            
            <div routerLink="/scm/setting/users/user-view" class="card">
                <h2><i class="fa-solid fa-user-tie pr-2"></i> Mark Evans</h2>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="cor-role">SCM System Administrator</p>
                    <span class="cor-inactive"><i class="fa-regular fa-circle-xmark"></i> Inactive</span>
                </div>
                <div class="cor-text">Username : markevans13</div>
                <div class="cor-text">Email : mark.evans.example.com</div>
                <div class="cor-text">Phone : 9876543222</div>
            </div>        
        </div>

    </div>
</div>
















<!-- <button routerLink="/scm/setting/users/listing">listing</button>
<button routerLink="/scm/setting/users/add-user">add</button>
<button routerLink="/scm/setting/users/user-view">view</button> -->