.row1 {
    display: flex;
    padding: 20px 30px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    .left {
        .text {
            font-weight: 600;
            font-size: 46px;
            color: #0D062D;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 500;
        font-size: 16px;
        color: #5030E5;

        .adduser {
            display: flex;
            cursor: pointer;
            gap: 5px;
            align-items: center;
            margin-right: 30px;
            cursor: pointer;

            .icon {
                background: #5030E533;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                font-size: 12px;
                border-radius: 5px;

            }
        }
    }
}

.cards {
    padding-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: start;

    .card {
        width: 32%;
        // height: 100% !important;
        min-height: 650px;
        border-radius: 16px 16px 0 0;
        background: #f7f7f7;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 44px 84px 6px #D8D9DB;

        .card-top {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 15px;
            border-bottom: #5030E5 solid 3px;

            div:nth-child(1) {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #5030E5;
            }

            div:nth-child(2) {
                font-size: 16px;
                font-weight: 500;
                color: #0D062D;
            }

            div:nth-child(3) {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
                color: #625F6D;
                background: #E0E0E0;
            }
        }

        .second-card {
            border-bottom: #FFA500 solid 3px;

            div:nth-child(1) {
                background: #FFA500;
            }
        }

        .third-card {
            border-bottom: #8BC48A solid 3px;

            div:nth-child(1) {
                background: #8BC48A;
            }

        }

        .tickets {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            .ticket {
                display: flex;
                flex-direction: column;
                gap: 7px;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                // height: 120px;
                width: 100%;
                margin-top: 6px;
                background: #fff;
                box-shadow: 0px 4px 8px 0px #0000001A;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                overflow: hidden;

                .low {
                    height: 25px;
                    border-radius: 4px;
                    width: fit-content;
                    padding: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #DFA87433;
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 500;
                    color: #D58D49;

                }

                .medium {
                    height: 25px;
                    border-radius: 4px;
                    width: fit-content;
                    padding: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 500;
                    background: #8BC48A;
                    color: #000;
                }

                .high {
                    height: 25px;
                    border-radius: 4px;
                    width: fit-content;
                    padding: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #D8727D1A;
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 500;
                    color: #D8727D;

                }

                div:nth-child(2) {
                    font-size: 18px;
                    font-weight: 600;
                    color: #0D062D;
                }

                div:nth-child(3) {
                    // height: 50px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #787486;

                }

                div:nth-child(4) {
                    font-size: 12px;
                    font-weight: 500;
                    color: #787486;


                }
            }

            .ticket:hover {
                // box-shadow: 0px 44px 84px 6px #D8D9DB;
                // box-shadow: 0px 4px 8px 0px #0000001A;
                transform: translateY(-5px);
                // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
        }

    }
}