<div class="permissions-container">
    <div class="toggle-all w-50">
        <label for="enable-all">Select all</label>
        <label class="switch">
            <input type="checkbox" id="enable-all">
            <span class="slider"></span>
        </label>
    </div>
    <div class="d-flex gap-5">
        <div class="w-25">
            <div class="permission">
                <label for="sales Representative">Sales Representative</label>
                <label class="switch">
                    <input type="checkbox" id="sales Representative" checked>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="permission">
                <label for="Accounts Receivable Clerks">Accounts Receivable Clerks </label>
                <label class="switch">
                    <input type="checkbox" id="Accounts Receivable Clerks" checked>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="permission">
                <label for="Logostics coordinator">Logostics coordinator</label>
                <label class="switch">
                    <input type="checkbox" id="Logostics coordinator">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="permission">

                <label for="Carrier Managers">Carrier Managers</label>
                <label class="switch">
                    <input type="checkbox" id="Carrier Managers" checked>
                    <span class="slider"></span>
                </label>
            </div>
            <div class="permission">

                <label for="Procurement Officers">Procurement Officers</label>
                <label class="switch">
                    <input type="checkbox" id="Procurement Officers" checked>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="permission">

                <label for="Supplier Managers">Supplier Managersr</label>
                <label class="switch">
                    <input type="checkbox" id="Supplier Managers" checked>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="permission">

                <label for="Production Planner">Production Planner</label>
                <label class="switch">
                    <input type="checkbox" id="Production Planner" checked>
                    <span class="slider"></span>
                </label>
            </div>

        </div>
        <div class="w-25">
            <div class="permission">

                <label for="Quality Control Inspector">Quality Control Inspector</label>
                <label class="switch">
                    <input type="checkbox" id="Quality Control Inspector" checked>
                    <span class="slider"></span>
                </label>
            </div>
            <div class="permission">

                <label for="Inventory Manager">Inventory Manager</label>
                <label class="switch">
                    <input type="checkbox" id="Inventory Manager" checked>
                    <span class="slider"></span>
                </label>
            </div>
            <div class="permission">

                <label for="Warehouse Staff">Warehouse Staff</label>
                <label class="switch">
                    <input type="checkbox" id="Warehouse Staff" checked>
                    <span class="slider"></span>
                </label>
            </div>
            <div class="permission">
                <label for="Warehouse Manager">Warehouse Manager</label>
                <label class="switch">
                    <input type="checkbox" id="Warehouse Manager" checked>
                    <span class="slider"></span>
                </label>
            </div>
            <div class="permission">

                <label for="Warehouse Operators">Warehouse Operators</label>
                <label class="switch">
                    <input type="checkbox" id="Warehouse Operators" checked>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="permission">

                <label for="SCM System Administators">SCM System Administators</label>
                <label class="switch">
                    <input type="checkbox" id="SCM System Administators" checked>
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
</div>
