<div class="card-wrapper">
    <div class="d-flex justify-content-between ">
        <h1> ACTIVE SUPPLIER</h1>
        <div>
            <button class="btn mb-3 mr-3 btn-primary" routerLink="/scm/procurements/suppliers/suppliers-add"> + Add SUPPLIER</button>
        </div>
    </div>

    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">COMPANY NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">WORK PHONE</th>
                <th scope="col">PAYABLES(BCY)</th>
                <th scope="col">UNUSED CREDTS(BCY)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td  routerLink="/scm/procurement/suppliers/suppliers-view" class="highlighted-row">maha laxmi</td>
                <td data-label="Company Name">mobile</td>
                <td data-label="Email">maha123.gmail.com</td>
                <td data-label="Work Phone">928273544</td>
                <td data-label="Receivables">Rs.820</td>
                <td data-label="Unused Credits">Rs.35</td>
            </tr>
            <tr>
                <td  routerLink="/scm/procurement/suppliers/suppliers-view" class="highlighted-row">chindhu</td>
                <td data-label="Company Name">pens</td>
                <td data-label="Email">chicku234.gmail.com</td>
                <td data-label="Work Phone">828934982</td>
                <td data-label="Receivables">Rs.811</td>
                <td data-label="Unused Credits">Rs.39</td>
            </tr>
            <tr>
                <td  routerLink="/scm/procurement/suppliers/suppliers-view" class="highlighted-row">John Smith </td>
                <td data-label="Company Name">possimus</td>
                <td data-label="Email">asds.gmail.com</td>
                <td data-label="Work Phone">393877623</td>
                <td data-label="Receivables">Rs.820</td>
                <td data-label="Unused Credits">Rs.35</td>
            </tr>
            <tr>
                <td  routerLink="/scm/procurement/suppliers/suppliers-view" class="highlighted-row">Johnson </td>
                <td data-label="Company Name">nostrum</td>
                <td data-label="Email">werwrew</td>
                <td data-label="Work Phone">1234567898</td>
                <td data-label="Receivables">Rs.811</td>
                <td data-label="Unused Credits">Rs.39</td>
            </tr>
            <tr>
                <td  routerLink="/scm/procurement/suppliers/suppliers-view" class="highlighted-row">John Smith Customer</td>
                <td data-label="Company Name">possimus</td>
                <td data-label="Email">gfdgfdgf.gmail.com</td>
                <td data-label="Work Phone">999273625</td>
                <td data-label="Receivables">Rs.820</td>
                <td data-label="Unused Credits">Rs.35</td>
            </tr>
            <tr>
                <td  routerLink="/scm/procurement/suppliers/suppliers-view" class="highlighted-row">Emily Johnson Customer</td>
                <td data-label="Company Name">nostrum</td>
                <td data-label="Email">gdggrerr.gmail.com</td>
                <td data-label="Work Phone">7676223345</td>
                <td data-label="Receivables">Rs.811</td>
                <td data-label="Unused Credits">Rs.39</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <button routerLink="/scm/procurement/suppliers/listing">suppliers listing</button>
<button routerLink="/scm/procurement/suppliers/add-suppliers">Add suppliers</button>
<button routerLink="/scm/procurement/suppliers/suppliers-view">suppliers view</button> -->
