<div class="d-flex justify-content-between ">
    <h1>Contact Type</h1>
</div>
<div class="d-flex gap-3 align-items-center">
    <div class="input-box">
        <input formControlName="userName" type="text" placeholder="Enter Contact Type">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Contact Type</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>Manager</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Sales Representative</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>Customer Service Representative</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
   
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">4</td>
            <td>Marketing Specialist</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">5</td>
            <td>Product Manager</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">6</td>
            <td>Account Manager</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
       
        
    </tbody>
</table>


