<div class="card-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="card-heading m-0">Crop List</h2>
    <button class="btn btn-primary" (click)="addCrop()">
      Add Crop
    </button>
  </div>

  
    <table class="table  table-hover">
      <thead>
        <tr>
          <th>Crop Name</th>
          <th>Farm</th>
          <th>Field</th>
          <th>Status</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let crop of cropsList">
          <td>{{ crop.cropName }}</td>
          <td>{{ crop.farmName }}</td>
          <td>{{ crop.fieldName }}</td>

          <td>
            <span
              [ngClass]="crop.cropStatusName === 'Active'
                ? 'text-success'
                : crop.cropStatusName === 'Completed'
                ? 'text-secondary'
                : 'text-warning'">
              {{ crop.cropStatusName }}
            </span>
          </td>

          <td>{{ crop.startDate | date:'dd MMM yyyy' }}</td>
          <td>
            {{ crop.expectedEndDate
                ? (crop.expectedEndDate | date:'dd MMM yyyy')
                : '-' }}
          </td>

          <td class="text-center">
            <button
              class="btn btn-outline-info btn-sm me-1"
              (click)="viewCrop(crop.cropId)">
              View
            </button>

            <button
              class="btn btn-outline-primary btn-sm me-1"
              (click)="editCrop(crop.cropId)">
              Edit
            </button>

           <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="deleteCrop(crop.cropId, $event)">
              Delete
            </button>
          </td>
        </tr>

        <tr *ngIf="cropsList.length === 0">
          <td colspan="7" class="text-center">
            No crops found
          </td>
        </tr>
      </tbody>
    </table>
  
</div>
