<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Sales Order#</th>
            <th scope="col">Reference#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Invoice</th>
            <th scope="col">Payment</th>
            <th scope="col"><i class="fa-solid fa-magnifying-glass"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Date">12-11-2024</td>
            <td  data-label="Sales Order#" routerLink="/scm/order/sale-order/so-view" class="highlighted-row">SO-001</td>
            <td data-label="Reference">567</td>
            <td data-label="Customer Name">Jon Doe</td>
            <td data-label="Status">OverDue</td>
            <td data-label="Amount">Rs.50000</td>
            <td data-label="Invoice">xyz</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Date">12-11-2024</td>
            <td  data-label="Sales Order#" routerLink="/scm/order/sale-order/so-view" class="highlighted-row">SO-002</td>
            <td data-label="Reference">123</td>
            <td data-label="Customer Name">Emily</td>
            <td data-label="Order Status">Closed</td>
            <td data-label="Amount"></td>
            <td data-label="Invoice">XYZ</td>
            <td data-label="Payments"></td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Date">12-11-2024</td>
            <td  data-label="Sales Order#" routerLink="/scm/order/sale-order/so-view" class="highlighted-row">SO-003</td>
            <td data-label="Reference">45678</td>
            <td data-label="Customer Name">Sarah</td>
            <td data-label="Status">Invoiced</td>
            <td data-label="Amount">3000</td>
            <td data-label="Invoice">zxcv</td>
            <td data-label="Payments"></td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Date">12-11-2024</td>
            <td  data-label="Sales Order#" routerLink="/scm/order/sale-order/so-view" class="highlighted-row">SO-004</td>
            <td data-label="Reference">12343</td>
            <td data-label="Customer Name">Michael</td>
            <td data-label="Status">Void</td>
            <td data-label="Amount">Rs.34566</td>
            <td data-label="Invoice">zxcv</td>
            <td data-label="Payments"></td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Date">12-11-2024</td>
            <td  data-label="Sales Order#" routerLink="/scm/order/sale-order/so-view" class="highlighted-row">SO-005</td>
            <td data-label="Reference">1234</td>
            <td data-label="Customer Name">Turner</td>
            <td data-label="Status">Pending Approval</td>
            <td data-label="Amount">Rs.234543</td>
            <td data-label="Invoice">zxcv</td>
            <td data-label="Payments"></td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Date">12-11-2024</td>
            <td  data-label="Sales Order#" routerLink="/scm/order/sale-order/so-view" class="highlighted-row">SO-006</td>
            <td data-label="Reference">7656</td>
            <td data-label="Customer Name">Anderson</td>
            <td data-label="Status">Closed</td>
            <td data-label="Amount">Rs.4567</td>
            <td data-label="Invoice">XYZ</td>
            <td data-label="Payments"></td>
            <td data-label="Search"></td>
        </tr>
    </tbody>
</table>