<div class="card-wrapper">
    <h1 class="title">Add Work Order</h1>
    <hr>
    <div class="content">
        <form>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">Production Plan ID<span style="color: red;">*</span></span>
                    <input formControlName="Production_Order_ID" type="text" placeholder="Production Order ID">
                </div>
                <div class="select-dropdown gender-details">
                    <span class="details">Production Plan</span>
                    <select formControlName="userStatus">
                        <option value="">--Select --</option>
                        <option value="1">PLN001</option>
                        <option value="2">PLN002</option>
                    </select>
                </div>
                <div class="select-dropdown gender-details">
                    <span class="details">Product Name</span>
                    <select formControlName="userStatus">
                        <option value="">--Select --</option>
                        <option value="1">Mobile</option>
                        <option value="2">Laptop</option>
                    </select>
                </div>
                <div class="select-dropdown gender-details">
                    <span class="details">BOM</span>
                    <select formControlName="userStatus">
                        <option value="">--Select --</option>
                        <option value="1">BOM-1</option>
                        <option value="2">BOM-2</option>
                    </select>
                </div>
            </div>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">Planned Quantity</span>
                    <input formControlName="Quantity_Planned" type="number" placeholder="Quantity Planned">
                </div>
                <div class="input-box">
                    <span class="details">Start Date<span style="color: red;">*</span></span>
                    <input formControlName="Productio_Plan_Date" type="date" placeholder="Production Plan Date">
                </div>
                <div class="input-box">
                    <span class="details">End Date<span style="color: red;">*</span></span>
                    <input formControlName="Planned_Start_Date" type="date" placeholder="Planned Start Date">
                </div>
                <div class="select-dropdown gender-details">
                    <span class="details">Production Priority</span>
                    <select formControlName="userStatus">
                        <option value="">--Select --</option>
                        <option value="1">High</option>
                        <option value="2">Medium</option>
                        <option value="2">Low</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">LOT Number<span style="color: red;">*</span></span>
                    <input formControlName="Batch_Number" type="text" placeholder="Batch/Serial Number">
                </div>
            </div>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">Comments</span>
                    <textarea formControlName="Comments" type="text" placeholder="Comments"></textarea>
                </div>

                <div class="input-box">
                    <span class="details">Description</span>
                    <textarea formControlName="Description" type="text" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="d-flex">
                <div>
                    <button routerLink="/scm/manufacturings/work-order/order-view" class="submit-button">Submit</button>
                </div>
                <div>
                    <button routerLink="/scm/manufacturings/work-order/order-add" class="close-button">Close</button>
                </div>
            </div>
        </form>
    </div>

</div>