<div class="d-flex justify-content-between ">
    <h1>Discount</h1>
</div>
<div class="d-flex gap-3 align-items-end">

    <div class="input-box">
        <span class="details">Enter the Discount</span>
        <input formControlName="userName" type="text" placeholder="Enter discount">
    </div>

    <div class="input-box">
        <span class="details">Enter Percentage %</span>
        <input formControlName="userName" type="text" placeholder="Enter percentage %">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Discount</th>
            <th scope="col">Percentage</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>Quantity Discount</td>
            <td>3%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Seasonal Discount</td>
            <td>4%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>But One Get One</td>
            <td>2%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">4</td>
            <td>Volume Discount</td>
            <td>1%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">5</td>
            <td>Percentage Discount</td>
            <td>3%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>



    </tbody>
</table>
