<div class="d-flex justify-content-between ">
    <h1>Unit Of Measure</h1>
</div>
<div class="d-flex gap-3 align-items-center">
    <div class="input-box">
        <input formControlName="userName" type="text" placeholder="Enter Unit Of Measure">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>Length/Distance</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Weigth</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>Volume</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
   
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">4</td>
            <td>Area</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">5</td>
            <td>Time</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">6</td>
            <td>Quantity(count)</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
       
        
    </tbody>
</table>
