.cor-main{
    display: flex;
}
.cor-body{
    margin: 50px 0 0 99px;
}
.cor-body1{
    max-width: 2000px;
    width: calc(100vw - 120px)  !important;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}