
.input-box,
.gender-details,
.status {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: calc(100% / 2 - 20px);
}

.textarea-box {
    width: 100%;
}

.details {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    border-bottom-width: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: gray;
    font-size: 14px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

textarea {
    height: 70px;
}

input:focus,
select:focus,
textarea:focus {
    border: 1.5px solid #8a73c1;
    border-color: #8a73c1;
}



small {
    font-size: 12px;
    color: #900000;
}



.input-box, .select-dropdown{
    width: 250px;
}
.cor-form{
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px ;
}
.submit-button {
    background-color: #000000; /* Red */
    color: #FFFFFF;
    padding: 7px 7px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    min-width: 120px !important;
}

.submit-button:hover {
    background-color: #333333; /* Darker Red */
}

/* Close Button Style */
.close-button {
    background-color: #F0F0F0; /* Grey */
    color: #6C757D;
    padding: 7px 7px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    min-width: 120px !important;
}

.close-button:hover {
    background-color: #d6d6d6;
}
/* Radio and Checkbox group styles */
.radio-group,
.checkbox-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

/* Styling for labels in radio and checkbox groups */
.radio-group label,
.checkbox-group label {
    font-size: 14px;
    color: gray;
}

/* Styling radio and checkbox inputs */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    // outline: 1px solid #8a73c1;
    border-radius: 50% !important;
}
hr{
    margin: 10px 0 !important;
}
.btn{
    padding: 2px 10px !important;
    margin: 0 0 !important;
    font-size: 14px !important;
}