.cor-grid-layout{
    .card-container {
        display: flex;
        gap: 20px 20px;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 32%;
        padding: 10px 15px;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
    }
    
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .card h2 {
        font-size: 22px;
        margin-bottom: 5px;
        color: #202020 !important;
    }
    
    .card .cor-role {
        font-size: 14px;
        margin-bottom: 5px;
        color: #3818D9;
        border: 1px solid #A899F1;
        border-radius: 20px;
        padding: 2px 8px 2px 8px;
        background: #F7F5FF;
        width: fit-content;
    }
    .cor-text{
        font-size: 16px;
        color: gray;
        margin-bottom: 5px;
        text-align: start;
    }
    .cor-active{
        color: #4e9f3d;
        font-size: 18px;
    
    }
    .cor-inactive{
        color: #e70707;
        font-size: 18px;
    }

}
