
/* General styling for the sidebar */
.sales-sidebar {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #f0f0f0;
}

/* Header styles */
.sales-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sales-title i {
    margin-right: 10px;
}

/* List styling */
ul {
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Link styling */
ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

ul li a i {
    margin-right: 8px;
}

.list-unstyled{
    li{
        cursor: pointer;
    }
    .active{
        color: #0056b3;
    }
}