<div class="card-wrapper">

  <h2 class="card-heading mb-3">
    {{ isEdit ? 'Edit Farm' : 'Add Farm' }}
  </h2>

  <form [formGroup]="farmForm" class="cor-form">

    <div class="input-box">
      <label class="details">Farm Name</label>
      <input type="text" formControlName="farmName">
    </div>

    <div class="input-box">
      <label class="details">Location</label>
      <input type="text" formControlName="location">
    </div>

    <div class="input-box">
      <label class="details">Total Fields</label>
      <input type="number" formControlName="totalFields">
    </div>

    <div class="textarea-box">
      <label class="details">Notes</label>
      <textarea formControlName="notes"></textarea>
    </div>

    <div class="mt-3">
      <button class="submit-button" type="button" (click)="submit()">
        {{ isEdit ? 'Update' : 'Save' }}
      </button>

      <button class="close-button" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>

  </form>
</div>
