<div class="card-wrapper">

  <h2 class="card-heading">
    {{ isEdit ? 'Edit Expense' : 'Add Expense' }}
  </h2>

  <hr />

  <form [formGroup]="expenseForm" class="cor-form">

    <div class="input-box">
      <label class="details">Crop *</label>
      <select formControlName="crop">
        <option value="">Select Crop</option>
        <option *ngFor="let c of crops">{{ c }}</option>
      </select>
    </div>

    <div class="input-box">
      <label class="details">Expense Category *</label>
      <select formControlName="category">
        <option value="">Select Category</option>
        <option *ngFor="let c of categories">{{ c }}</option>
      </select>
    </div>

    <div class="input-box">
      <label class="details">Amount *</label>
      <input type="number" formControlName="amount" />
    </div>

    <div class="input-box">
      <label class="details">Expense Date *</label>
      <input type="date" formControlName="date" />
    </div>

    <div class="textarea-box">
      <label class="details">Notes</label>
      <textarea formControlName="notes"></textarea>
    </div>

    <div class="d-flex gap-2 mt-3">
      <button class="submit-button" type="button" (click)="save()">
        {{ isEdit ? 'Update' : 'Save' }}
      </button>

      <button class="close-button" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>

  </form>

</div>

