<div class="card-wrapper">
    <h1 class="title">New quote</h1>
    <hr>
    <div class="content">
        <form>
            <div class="cor-form">
                <div class="select-dropdown">
                    <span class="details">Customer</span>
                    <select formControlName="customer">
                        <option value="">--Select--</option>
                        <option value="Active">Saikumar</option>
                        <option value="Active">Ahmed</option>
                    </select>
                </div>
                <div class="select-dropdown">
                    <span class="details">Contact Person</span>
                    <select formControlName="customer">
                        <option value="">--Select--</option>
                        <option value="Active">will</option>
                        <option value="Active">tailor</option>
                        <option value="Active">smith</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Quote Date<span style="color: red;">*</span></span>
                    <input formControlName="SalesOrderdate" type="date" placeholder="Sales Order Date">
                </div>
                <div class="select-dropdown">
                    <span class="details">Payment Terms</span>
                    <select formControlName="payment_terms">
                        <option value="">--Due on Receipt--</option>
                        <option value="Active">NET 15</option>
                        <option value="Inactive">NET 30</option>
                        <option value="Inactive">NET 45</option>
                        <option value="Inactive">NET 60</option>
                        <option value="Inactive">Due End of Month</option>
                        <option value="Inactive">Due End of Next Month</option>
                        <option value="Inactive">Due on Receipt</option>
                    </select>
                </div>
                <div class="select-dropdown">
                    <span class="details">Sales Person</span>
                    <select formControlName="sales_person">
                        <option value="">--Due on Receipt--</option>
                        <option value="Active">sales p 1</option>
                        <option value="Active">sales p 2</option>
                        <option value="Active">sales p 3</option>
                    </select>
                </div>
                <div class="select-dropdown Carrier#">
                    <span class="details">Shipping Method</span>
                    <select formControlName="Carrier#">
                        <option value="">--Select --</option>
                        <option value="1">Standard Shipping</option>
                        <option value="2">Express Shipping</option>
                        <option value="2">Overnight Shipping</option>
                    </select>
                </div>
                <div class="select-dropdown">
                    <span class="details">Currency Type</span>
                    <select formControlName="payment_terms">
                        <option value="USD">USD - United States Dollar</option>
                        <option value="EUR">EUR - Euro</option>
                        <option value="GBP">GBP - British Pound Sterling</option>
                        <option value="JPY">JPY - Japanese Yen</option>
                        <option value="AUD">AUD - Australian Dollar</option>
                        <option value="CAD">CAD - Canadian Dollar</option>
                        <option value="CHF">CHF - Swiss Franc</option>
                        <option value="CNY">CNY - Chinese Yuan</option>
                        <option value="INR">INR - Indian Rupee</option>
                        <option value="NZD">NZD - New Zealand Dollar</option>
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <div class="d-flex justify-content-end ">
                        <div (click)="addbom()" class="btn mb-3 mr-3 btn-primary"><i class="fa-solid fa-plus"></i> Row
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Code</th>
                                <th scope="col">Qty Ordered</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of myList;let i = index">
                                <td>{{i+1}}</td>
                                <td>
                                    <div class="select-dropdown">
                                        <select formControlName="product_name">
                                            <option value="">--Select --</option>
                                            <option value="1">laptop</option>
                                            <option value="2">Mobile</option>
                                        </select>
                                    </div>
                                <td><input class="w-50" formControlName="product_code" type="text"></td>
                                <td><input class="w-50" formControlName="Qty_ordered" type="text"></td>
                                <td><input class="w-50" formControlName="unit_price" type="text"></td>
                                <td><input class="w-50" formControlName="discount" type="text"></td>
                                <td><input class="w-50" formControlName="total_price" type="text"></td>
                                <td><i class="fa-solid fa-trash-can" (click)="_delete(i)"></i></td>
                            </tr>
                            <tr class="no-border">
                                <td colspan="6" style="text-align: right;"><strong>Subtotal</strong></td>
                                <td>$405.50</td>
                                <td></td>
                            </tr>
                            <tr class="no-border">
                                <td  colspan="6" style="text-align: right">
                                    <strong class="pr-3">Total Discount</strong>
                                    <select style="width: 150px;" formControlName="userStatus">
                                      <option value="">--Select --</option>
                                      <option value="1">Quantity Discount</option>
                                      <option value="2">Seasonal Discount</option>
                                      <option value="3">Cash Discount</option>
                                    </select>
                                </td>
                                <td>
                                  <input
                                    class="w-50"
                                    type="text"
                                  />
                                </td>
                            </tr>
                            <tr class="no-border">
                                <td  colspan="6" style="text-align: right">
                                    <strong class="pr-3">Taxs</strong>
                                    <select style="width: 150px;" formControlName="userStatus">
                                      <option value="">--Select --</option>
                                      <option value="1">Income Tax</option>
                                      <option value="2">Sales Tax</option>
                                      <option value="3">Value Added Tax (VAT)</option>
                                      <option value="4">Goods And Service Tax (GST)</option>
                                      <option value="5">Gift Tax</option>
                                    </select>
                                </td>
                                <td>
                                  <input
                                    class="w-50"
                                    type="text"
                                  />
                                </td>
                            </tr>
                            <tr class="no-border">
                                <td colspan="6" style="text-align: right;"><strong>Additional Charges (Shipping, Taxes,
                                        etc.)</strong></td>
                                <td>
                                    <div class="input-box w-50">
                                        <input formControlName="additionalCharges" type="text">
                                    </div>
                                </td>
                            </tr>
                            <tr class="no-border">
                                <td colspan="6" style="text-align: right;"><strong>Grand total</strong></td>
                                <td>$455.50</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <button routerLink="/scm/order/quote/view" class="submit-button">Submit</button>
                </div>
                <div>
                    <button routerLink="/scm/order/quote/listing" class="close-button">Close</button>
                </div>
            </div>
        </form>
    </div>

</div>
