<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Branch</th>
            <th scope="col">Payments#</th>
            <th scope="col">Type</th>
            <th scope="col"> Reference number</th>
            <th scope="col">customer Name</th>
            <th scope="col">Invoice#</th>
            <th scope="col">Mode</th>
            <th scope="col">Amount</th>
            <th scope="col">UnusedAmount</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5th September 2024</td>
            <td>Headoffice</td>
            <td routerLink="/scm/order/payments/payments-view" class="highlighted-row">payment 1</td>
            <td>Invoice payments</td>
            <td>9876545467</td>
            <td>Ramireddy</td>
            <td>Invoice 2</td>
            <td>Square</td>
            <td>10000</td>
            <td>0</td>

        </tr>
        <tr>
            <td>6th September2024</td>
            <td>Headoffice</td>
            <td routerLink="/scm/order/payments/payments-view" class="highlighted-row">payment 2</td>
           
            <td>Retainer payments</td>
            <td>9809876545</td>
            <td>sai</td>
            <td>Invoice 3</td>
            <td>Cash</td>
            <td>15000</td>
            <td>0</td>

        </tr>
    </tbody>
</table>
