.cor-header {
    width: calc(100vw - 99px);
    height: 50px;
    position: fixed;
    z-index: 99999;
    top: 0;
    background: #fff;
    box-shadow: 0 10px 10px -5px #0000001a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    .scm{
        font-weight: 600;
        font-size: 20px;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 10px;
        i{
            font-size: 24px;
        }
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #3452e8;
            color: #fff;
            cursor: pointer;
        }
    }
}

.cor-header .scm {
    font-weight: 600;
    font-size: 20px;
}

.cor-header .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cor-header .user i {
    font-size: 24px;
}

/* Dropdown styles */
.cor-header .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.cor-header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0;
    z-index: 1;
    right:0;
    cursor: pointer;
    i{
        font-size: 18px;
        padding-right: 8px;
    }
}

/* Links in dropdown */
.cor-header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Icons in dropdown */
.cor-header .dropdown-content i {
    margin-right: 8px;
}

/* Show dropdown on hover */
.cor-header .dropdown:hover .dropdown-content {
    display: block;
}

/* Change background color on hover */
.cor-header .dropdown-content a:hover {
    background-color: #f1f1f1;
}
.search-container {
    position: relative;
    display: inline-block;
}

.search-card {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.search-container:hover .search-card {
    display: block;
}

.search-card input {
    width: 200px;
    padding: 5px;
}
