<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Delivery Challan#</th>
            <th scope="col">Reference Number</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Status</th>
            <th scope="col">Invoice Status</th>
            <th scope="col">Amount</th>
            <th scope="col"><i class="fa-solid fa-magnifying-glass"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Delivery_Challan">DC-03</td>
            <td  data-label="Reference_Number" routerLink="/scm/logistics/delivery/delivery-view" class="highlighted-row">6677</td>
            <td data-label="Customer_Name">Jon Doe</td>
            <td data-label="Status">Void</td>
            <td data-label="Invoice_Status">Void</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Delivery_Challan">DC-05</td>
            <td  data-label="Reference_Number" routerLink="/scm/logistics/delivery/delivery-view" class="highlighted-row">6677</td>
            <td data-label="Customer_Name">Jon Doe</td>
            <td data-label="Status">Void</td>
            <td data-label="Invoice_Status">Void</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Delivery_Challan">DC-011</td>
            <td  data-label="Reference_Number" routerLink="/scm/logistics/delivery/delivery-view" class="highlighted-row">6677</td>
            <td data-label="Customer_Name">Jon Doe</td>
            <td data-label="Status">Void</td>
            <td data-label="Invoice_Status">Void</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Delivery_Challan">DC-010</td>
            <td  data-label="Reference_Number" routerLink="/scm/logistics/delivery/delivery-view" class="highlighted-row">6677</td>
            <td data-label="Customer_Name">Jon Doe</td>
            <td data-label="Status">Void</td>
            <td data-label="Invoice_Status">Void</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Delivery_Challan">DC-009</td>
            <td  data-label="Reference_Number" routerLink="/scm/logistics/delivery/delivery-view" class="highlighted-row">6677</td>
            <td data-label="Customer_Name">Jon Doe</td>
            <td data-label="Status">Void</td>
            <td data-label="Invoice_Status">Void</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
        <tr>
            <td data-label="Delivery_Challan">DC-008</td>
            <td  data-label="Reference_Number" routerLink="/scm/logistics/delivery/delivery-view" class="highlighted-row">6677</td>
            <td data-label="Customer_Name">Jon Doe</td>
            <td data-label="Status">Void</td>
            <td data-label="Invoice_Status">Void</td>
            <td data-label="Payments">10000</td>
            <td data-label="Search"></td>
        </tr>
    </tbody>
</table>
