.firstrow {
    margin: auto;
    width: 100% !important;
    display: flex;
    padding: 20px 5px;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;

    .card {
        min-width: 180px;
        width: 23%;
        height: 100px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: row !important;
        cursor: pointer;
        gap: 10px;
        align-items: center;
        padding: 5px 10px;
        padding-left: 30px;
        border: 0;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0d6efd;
            height: 56px;
            width: 56px;
            border-radius: 50%;
            background: #F4F7FE;

        }

        div:nth-child(2) {

            div:nth-child(1) {
                font-weight: 500px;
                font-size: 14px;
                color: #000;
            }

            div:nth-child(2) {
                padding-top: 5px;
                font-weight: 700px;
                font-size: 24px;
                color: #1B2559;

            }

        }
    }

    .card:hover {
        background: #365AEB;
        background: linear-gradient(270deg, #365AEB 0, #000 100%);
        color: #fff !important;

        div:nth-child(2) {

            div:nth-child(1) {
                color: #fff;
            }

            div:nth-child(2) {
                color: #fff;

            }
        }

        .icon {
            color: #fff;
            background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
            background: #365AEB;
        }
    }

    i {
        font-size: 22px;
    }
}