
<div class="card-wrapper">
    <h1 class="title">New Purchase Order</h1>
    <hr>
    <div class="content">
        <form>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">Vendor Name</span>
                    <input formControlName="userName" type="text" placeholder="Enter your Vendor Name">
                </div>

                <div class="input-box">
                    <span class="details">Purchase Order# </span>
                    <input formControlName="teamSize" type="text" placeholder="Enter Purchase Order# ">
                </div>


                <div class="input-box">
                    <span class="details">Reference Number# </span>
                    <input formControlName="teamSize" type="text" placeholder="Enter Referenece Order# ">
                </div>

                <div class="input-box">
                    <span class="details"> Date </span>
                    <input formControlName="teamSize" type="date" placeholder="Enter Date ">
                </div>

                <div class="input-box">
                    <span class="details">Delivery Address</span>
                    <input formControlName="Delivery Address" type="text" placeholder="Enter Delivery Address">
                </div>



                <div class="input-box">
                    <span class="details">Shipment Preference</span>
                    <input formControlName="userName" type="text" placeholder=" the Shipment Preference">
                </div>

                <div class="input-box">
                    <span class="details"> Expected Delivery Date </span>
                    <input formControlName="teamSize" type="date" placeholder="Enter Expected Delivery Date ">
                </div>


                <div class="input-box">
                    <span class="details">Payment Terms </span>
                    <select formControlName="userStatus"> type="text" placeholder="Due On Receipt">
                        <option value="1">--Due-on-reciept--</option>
                        <option value="2">Due-15</option>
                        <option value="3">Due-30</option>
                        <option value="4">Due-40</option>
                        <option value="5">EUR-60</option>
                        <option value="5">Due end of the month</option>
                        <option value="5">Due end of the next month</option>
                    </select>
                </div>


                <div class="input-box textarea-box">
                    <span class="details">Customer Notes</span>
                    <textarea formControlName="Customer Notes" placeholder="Will be displayed on purchase order"
                        rows="5"></textarea>
                </div>


                <div class="input-box textarea-box">
                    <span class="details">Terms and Conditions</span>
                    <textarea formControlName="Terms and Conditions"
                        placeholder="Enter the terms and conditions of your business displayed in your transaction"
                        rows="5"></textarea>
                </div>

                <div>
                    <div>
                        <div class="d-flex justify-content-end ">
                            <div (click)="addbom()" class="btn mb-3 mr-3 btn-primary"><i class="fa-solid fa-plus"></i>
                                Row</div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Code</th>
                                    <th scope="col">Qty Ordered</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of myList;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select formControlName="product_name">
                                                <option value="">--Select --</option>
                                                <option value="1">laptop</option>
                                                <option value="2">Mobile</option>
                                            </select>
                                        </div>
                                    <td><input class="w-50" formControlName="product_code" type="text"></td>
                                    <td><input class="w-50" formControlName="Qty_ordered" type="text"></td>
                                    <td><input class="w-50" formControlName="unit_price" type="text"></td>
                                    <td><input class="w-50" formControlName="discount" type="text"></td>
                                    <td><input class="w-50" formControlName="total_price" type="text"></td>
                                    <td><i class="fa-solid fa-trash-can" (click)="_delete(i)"></i></td>
                                </tr>

                                <tr class="no-border">
                                    <td colspan="6" style="text-align: right;"><strong>Subtotal</strong></td>
                                    <td>$405.50</td>
                                    <td></td>
                                </tr>
                                <tr class="no-border">
                                    <td colspan="6" style="text-align: right">
                                        <strong class="pr-3">Total Discount</strong>
                                        <select style="width: 150px;" formControlName="userStatus">
                                            <option value="">--Select --</option>
                                            <option value="1">Quantity Discount</option>
                                            <option value="2">Seasonal Discount</option>
                                            <option value="3">Cash Discount</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="w-50" type="text" />
                                    </td>
                                </tr>
                                <tr class="no-border">
                                    <td colspan="6" style="text-align: right">
                                        <strong class="pr-3">Taxs</strong>
                                        <select style="width: 150px;" formControlName="userStatus">
                                            <option value="">--Select --</option>
                                            <option value="1">Income Tax</option>
                                            <option value="2">Sales Tax</option>
                                            <option value="3">Value Added Tax (VAT)</option>
                                            <option value="4">Goods And Service Tax (GST)</option>
                                            <option value="5">Gift Tax</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="w-50" type="text" />
                                    </td>
                                </tr>
                                <tr class="no-border">
                                    <td colspan="6" style="text-align: right;"><strong>Additional Charges (Shipping,
                                            Taxes,
                                            etc.)</strong></td>
                                    <td>
                                        <div class="input-box w-50">
                                            <input formControlName="additionalCharges" type="text">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="no-border">
                                    <td colspan="6" style="text-align: right;"><strong>Grand total</strong></td>
                                    <td>$455.50</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <hr>
            <div class="d-flex">
                <div>
                    <button routerLink="/scm/procurements/purchase-orders/po-views" class="submit-button">Save as
                        draft</button>
                </div>
                <div>
                    <button routerLink="/scm/procurements/purchase-orders/purchases-history" class="submit-button">Save and
                        send</button>
                </div>
                <div>
                    <button routerLink="/scm/order/customers/listing" class="close-button">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>

