
<div class="cor-content" >
    <h1>Reset Password</h1>
    <div class="cor-form">
        <div class="input-box">
            <span class="details">New Password<span style="color: red;">*</span></span>
            <input formControlName="password" type="password" placeholder="New Password">
        </div>
        <div class="input-box">
            <span class="details">Confirm Password<span style="color: red;">*</span></span>
            <input formControlName="password" type="password" placeholder="Confirm Password">
        </div>
    <div class="d-flex mt-3">
        <div>
            <button class="submit-button" routerLink="/scm/setting/users">Submit</button>
        </div>
        <div>
            <button class="close-button" routerLink="/scm/setting/users">Close</button>
        </div>
    </div>
</div>