.submit-button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.close-button {
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.close-button:hover {
    background-color: #5a6268;
}
