<div class="card-wrapper">
    <h1 class="title">Add Stock</h1>
    <hr>
    <div class="content">
        <form >
            <div class="cor-form">
                
            </div>
            <div class="cor-form">
               <div class="select-dropdown gender-details">
                    <span class="details">Product Code<span style="color: red;">*</span></span>
                    <select formControlName="userStatus">
                        <option value="">--Select --</option>
                        <option value="Active">Option 1</option>
                        <option value="Inactive">Option 2</option>
                    </select>
                </div>
            </div>

            <div class="cor-form">
                <div class="select-dropdown gender-details">
                     <span class="details">Source<span style="color: red;">*</span></span>
                     <select formControlName="userStatus">
                         <option value="">--Select --</option>
                         <option value="Active">Source 1</option>
                         <option value="Inactive">Source 2</option>
                     </select>
                 </div>
             </div>

             <div class="cor-form">
                <div class="select-dropdown gender-details">
                     <span class="details">Warehouse Code <span style="color: red;">*</span></span>
                     <select formControlName="userStatus">
                         <option value="">--Select --</option>
                         <option value="Active">WH 1</option>
                         <option value="Inactive">WH 2</option>
                     </select>
                 </div>
             </div>

            <div class="cor-form">
                <div class="input-box">
                    <span class="details">Quantity <span style="color: red;">*</span></span>
                    <input formControlName="quantity" type="text" placeholder="######">
                </div>
            </div>

            <div class="d-flex">
                <div>
                    <button class="submit-button" routerLink="/scm/warehouse/stock-transfer-forms/stock-transfer-listing">Submit</button>
                </div>
                <div>
                    <button class="close-button" routerLink="/scm/warehouse/stock-transfer-forms/stock-transfer-listing">Close</button>
                </div>
            </div>
        </form>
    </div>

</div>