<app-dashboard-cards></app-dashboard-cards>
<div class="d-flex">
    <app-dashboard-so class="w-50"></app-dashboard-so>
    <app-dashboard-po class="w-50"></app-dashboard-po>
</div>
<div class="d-flex">
    <app-dashboard-so-breakdown class="w-50"></app-dashboard-so-breakdown>
    <app-dashboard-payment-status class="w-50"></app-dashboard-payment-status>
</div>
<div class="d-flex">
    <app-dashboard-pie-shipments class="w-50"></app-dashboard-pie-shipments>
    <app-dashboard-po-breakdown class="w-50"></app-dashboard-po-breakdown>
</div>
<app-warehouse-stock-levels></app-warehouse-stock-levels>
<app-dashboard-multilinechart></app-dashboard-multilinechart>
<div class="d-flex">
    <app-dashboard-manufacturing-metrics class="w-50"></app-dashboard-manufacturing-metrics>
    <app-dashboard-carrier-performance class="w-50"></app-dashboard-carrier-performance>
</div>
<app-dashboard-bargraph></app-dashboard-bargraph>
<div class="d-flex">
    <app-dashboard-inventory-overa-time class="w-50"></app-dashboard-inventory-overa-time>
    <app-dashboard-stock-transfer-requests class="w-50"></app-dashboard-stock-transfer-requests>
</div>
<app-top-customers-suppliers></app-top-customers-suppliers>
<!-- <div class="d-flex mt-3">
    <app-dashboard-barchart class="w-50"></app-dashboard-barchart>
    <app-dashboard-barchart class="w-50"></app-dashboard-barchart>
</div> -->

<!-- <app-scm-dashboard></app-scm-dashboard>
<app-dashboard-charts></app-dashboard-charts>
<app-dashboard-doughnut class="w-50"></app-dashboard-doughnut> -->