<div class="d-flex justify-content-between ">
    <h1>Production Priority</h1>
</div>
<div class="d-flex gap-3 align-items-center">
    <div class="input-box">
        <input formControlName="userName" type="text" placeholder="Enter Payment Priority">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>High</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Medium</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>Low</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
   
            </td>
        </tr>
        
        
    </tbody>
</table>
