<div class="card-wrapper">
    <div class="d-flex justify-content-between mb-4">
        <h1>Inventory Replenishment</h1>
        <div>
            <button routerLink="/scm/procurement/po/add-po"  class="btn mb-3 mr-3 btn-primary">Create PO</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Item name</th>
                <th>Current stock level</th>
                <th>Minimum stock level</th>
                <th>Supplier details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Mother Board</th>
                <th>122</th>
                <th>300</th>
                <th>John Smith Vendor</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Hard Drive</th>
                <th>80</th>
                <th>150</th>
                <th>Emily Tech Supplier</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Processor</th>
                <th>65</th>
                <th>100</th>
                <th>Mike Electronics</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>RAM</th>
                <th>40</th>
                <th>200</th>
                <th>Sarah Components</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Graphic Card</th>
                <th>50</th>
                <th>90</th>
                <th>Alex Gaming</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Power Supply</th>
                <th>30</th>
                <th>70</th>
                <th>Paul Hardware</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Cooling Fan</th>
                <th>110</th>
                <th>200</th>
                <th>James Cooling Tech</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Keyboard</th>
                <th>300</th>
                <th>400</th>
                <th>VendorTech Solutions</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Monitor</th>
                <th>90</th>
                <th>150</th>
                <th>Display World</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Mouse</th>
                <th>500</th>
                <th>600</th>
                <th>Gadget Mart</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>USB Drive</th>
                <th>200</th>
                <th>250</th>
                <th>Data Solutions</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" name="hobbies">
                </th>
                <th>Speakers</th>
                <th>45</th>
                <th>80</th>
                <th>Audio Max</th>
                <th>
                    <button routerLink="/scm/procurement/po/add-po" class="btn btn-outline-primary">Create PO</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>