<div class="card-wrapper">
    <div class="d-flex justify-content-between ">
        <h1>All Sales Orders</h1>
        <div>
            <button routerLink="/scm/order-mangements/sales-orders/add" class="btn mb-3 mr-3 btn-primary">+ Add Sales Order</button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Sales Order#</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Expected Shipment Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <a routerLink="/scm/order-mangements/sales-orders/view" class="highlighted-row">1001</a>
                </td>
                <td>Customer A</td>
                <td>2024-09-01</td>
                <td>2024-09-05</td>
                <td>$1,200.00</td>
                <td>Draft </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a routerLink="/scm/order-mangements/sales-orders/view" class="highlighted-row">1002</a>
                </td>
                <td>Customer B</td>
                <td>2024-09-02</td>
                <td>2024-09-06</td>
                <td>$2,500.00</td>
                <td>Confirmed </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <a routerLink="/scm/order-mangements/sales-orders/view" class="highlighted-row">1003</a>
                </td>
                <td>Customer C</td>
                <td>2024-09-03</td>
                <td>2024-09-07</td>
                <td>$800.00</td>
                <td>In Progress</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <a routerLink="/scm/order-mangements/sales-orders/view" class="highlighted-row">1004</a>
                </td>
                <td>Customer D</td>
                <td>2024-09-04</td>
                <td>2024-09-08</td>
                <td>$1,700.00</td>
                <td>Completed </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a routerLink="/scm/order-mangements/sales-orders/view" class="highlighted-row">1005</a>
                </td>
                <td>Customer E</td>
                <td>2024-09-05</td>
                <td>2024-09-09</td>
                <td>$2,100.00</td>
                <td>Cancelled </td>
            </tr>
            
        </tbody>
    </table>
</div>








<!-- <button routerLink="/scm/order/sale-order/listing">so listing</button>
<button routerLink="/scm/order/sale-order/add-so">Add so</button>
<button  routerLink="/scm/order/sale-order/so-view">so View</button> -->
