<p>view-carrier works!</p>
<div class="card-wrapper">
    <div class="container-fluid">
        <div>
            <h1> FEDX  </h1>
        </div>
        <div class="d-flex justify-content-between align-items-center py-2 ">
            <div>
                <strong>Carrier ID# : 00001</strong>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-light btn-sm me-2">
                    <i class="fas fa-ban"></i> Mark as Inactive
                </button>
                <button class="btn btn-light btn-sm me-2">
                    <i class="bi bi-pencil"></i> Edit
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between pl-3 pr-3">
        <div class="w-50 ml-2 mr-2">
            <div class="card-heading">Carrier Details</div>
            <p class="d-flex justify-content-between"><strong>Carrier Name</strong> ---</p>
            <p class="d-flex justify-content-between"><strong>Shipment ID</strong> 232323</p>
            <p class="d-flex justify-content-between"><strong>On Time Delivery Rate</strong> 4500</p>
            <p class="d-flex justify-content-between"><strong>Damage Rate</strong>4400</p>
            <p class="d-flex justify-content-between"><strong>Mobile number</strong>9876543210</p>
        </div>
        <div class="w-50 ml-2 mr-2">
            <p class="d-flex justify-content-between"><strong>Average Delivery Time</strong> 2/11/2024</p>
            <p class="d-flex justify-content-between"><strong>Sales/Purchase Order ID</strong> 48759</p>
            <p class="d-flex justify-content-between"><strong>Total Cost (Per shipment or monthly)</strong> 5000</p>
            <p class="d-flex justify-content-between"><strong>Last Shipment Date</strong></p>
            <p class="d-flex justify-content-between"><strong>Customer Feedback Score</strong>9876543210</p>
        </div>


    </div>
</div>
<div class="card-wrapper">
    <div class="d-flex justify-content-between ">
        <h1>Recent Deliverys</h1>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Delivary ID#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date</th>
                    <th scope="col"> Shipment Date</th>
                    <th scope="col"> Delivary Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="highlighted-row">1</td>
                    <td data-label="Carrier ID#">1011</td>
                    <td data-label="Customer">Customer 1</td>
                    <td data-label="Date">2024/8/9</td>
                    <td data-label=" Shipment Date">2024/9/11</td>
                    <td data-label=" Delivary Date">2024/10/13</td>
                    <td data-label="Amount">Rs.3520</td>
                </tr>
                <tr>
                    <td class="highlighted-row">2</td>
                    <td data-label="Carrier ID#">1012</td>
                    <td data-label="Customer">Customer 2</td>
                    <td data-label="Date">2024/8/10</td>
                    <td data-label=" Shipment Date">2024/9/13</td>
                    <td data-label=" Delivary Date">2024/10/13</td>
                    <td data-label="Amount">Rs.3390</td>
                </tr>
                <tr>
                    <td class="highlighted-row">3</td>
                    <td data-label="Carrier ID#">1013</td>
                    <td data-label="Customer">Customer 3</td>
                    <td data-label="Date">2024/9/14</td>
                    <td data-label="Shipment Date">2024/9/19</td>
                    <td data-label="Delivary Date">2024/10/13</td>
                    <td data-label="Amount">Rs.5000</td>
                </tr>
                <tr>
                    <td class="highlighted-row">4</td>
                    <td data-label="Carrier ID#">1014</td>
                    <td data-label="Customer">Customer 4</td>
                    <td data-label="Date">2024/9/14</td>
                    <td data-label=" Shipment date">2024/9/20</td>
                    <td data-label=" DelivaryDate">2024/10/3</td>
                    <td data-label="Amount">Rs.3000</td>
                </tr>
                <tr>
                    <td class="highlighted-row">5</td>
                    <td data-label="Carrier ID#">1014</td>
                    <td data-label="Customer">Customer 5</td>
                    <td data-label="Date">2024/9/19</td>
                    <td data-label="Shipment Date">2024/9/24</td>
                    <td data-label="DelivaryDate">2024/10/3</td>
                    <td data-label="Amount">Rs.3500</td>
                </tr>
                <tr>
                    <td class="highlighted-row">6</td>
                    <td data-label="Carrier ID#">1015</td>
                    <td data-label="Customer">Customer 6</td>
                    <td data-label="Date">2024/9/24</td>
                    <td data-label=" Shipment Date">2024/9/28</td>
                    <td data-label=" DelivaryDate">2024/10/1</td>
                    <td data-label="Amount">Rs.3900</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>