
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Code</th>
            <th scope="col">Quantity Ordered</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Wireless Mouse</td>
            <td>WM-001</td>
            <td>2</td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>Bluetooth Keyboard</td>
            <td>BK-002</td>
            <td>1</td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>USB-C Hub</td>
            <td>UH-003</td>
            <td>3</td>
            
        </tr>
        <tr>
            <td>4</td>
            <td>27" Monitor</td>
            <td>MON-004</td>
            <td>1</td>
            
        </tr>
        <tr>
            <td>5</td>
            <td>External Hard Drive</td>
            <td>EHD-005</td>
            <td>2</td>
            
        </tr>
        
        
        
    </tbody>
</table>
