<div class="d-flex justify-content-between ">
    <h1>Payment Mode</h1>
</div>
<div class="d-flex gap-3 align-items-center">
    <div class="input-box">
        <input formControlName="userName" type="text" placeholder="Enter Payment Mode">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Payment Mode</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>Cash Payment</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Credit Card Payment</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>Debit Card Payment</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
   
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">4</td>
            <td>Unified Payment Interface</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">5</td>
            <td>Online Bank Transfer</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">6</td>
            <td>But Now Pay Later</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
             
            </td>
        </tr>
       
        
    </tbody>
</table>

