<p>po-print works!</p>
<div class="d-flex">
    <section class=" cor-print">
        <div class="d-flex justify-content-end">
            <img src="../../../../../assets/Logos/cortracker.png" alt="">
        </div>
        <div class="row">  
            <div class="col-6">
                <h5>saikumar</h5>
                <p>Andhra Pradesh<br>India<br>saimagishettycor.com</p>
            </div>
            <div class="col-6 text-right">
                <h2>purchase order</h2>
                <p>purchase Order# po-1</p>
            </div>
        </div>
    
        <hr class="border-bottom">
    
        <div class="row">
            <div class="col-6">
                <p><strong>Bill To</strong></p>
                <p class="text-primary">Mr. ahmed ahmed</p>
            </div>
            <div class="col-6 text-right">
                <p><strong>Order Date: </strong>29/08/2024</p>
                <p><strong>Expected Shipment Date: </strong>30/08/2024</p>
            </div>
        </div>
        <div class="table-container ">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item & Description</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>realmebook</td>
                        <td>1.00 box</td>
                        <td>50,000.00</td>
                        <td>50,000.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>MacBook Air</td>
                        <td>1.00 unit</td>
                        <td>1,00,000.00</td>
                        <td>1,00,000.00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>iPhone 14</td>
                        <td>2.00 units</td>
                        <td>70,000.00</td>
                        <td>1,40,000.00</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Samsung Galaxy S23</td>
                        <td>1.00 unit</td>
                        <td>80,000.00</td>
                        <td>80,000.00</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Lenovo ThinkPad</td>
                        <td>1.00 unit</td>
                        <td>90,000.00</td>
                        <td>90,000.00</td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-right">
                <p><strong>Sub Total:</strong> 50,000.00</p>
                <h4><strong>Total:</strong> Rs.50,000.00</h4>
            </div>
        </div>
    
        <div class="signature">
            <p>Authorized Signature ___________________________</p>
        </div>
    
    </section>
    
    <div class="ml-5 mt-3">
        <button (click)="downloadPDF()"  class="btn mb-3 mr-3 btn-primary">Download<i class="fa-solid fa-download pl-3"></i></button>
    </div>

</div>