<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card-wrapper">
    <h1 class="title">New Cargo Booking</h1>
    <hr>
    <div class="d-flex">
        <div class="w-50">
            <h1>Sender Details</h1>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">First Name<span class="cor-required">*</span></span>
                    <input formControlName="SenderFname" type="text" placeholder="Enter your  SenderFname">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderFname'].invalid && registerForm.controls['SenderFname'].touched">
                        SenderFname Required.
                    </div>
                </div>

                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input formControlName="SenderLname" type="text" placeholder="Enter your SenderLname">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderLname'].invalid && registerForm.controls['SenderLname'].touched">
                        SenderLname Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Email<span class="cor-required">*</span></span>
                    <input formControlName="SenderEmail" type="SenderEmail" placeholder="Enter your SenderEmail">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderEmail'].invalid && registerForm.controls['SenderEmail'].touched">
                        SenderEmail Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input formControlName="SenderPhone" type="number" placeholder="Enter yourSenderPhone">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderPhone'].invalid && registerForm.controls['SenderPhone'].touched">
                        SenderPhone Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Address1<span class="cor-required">*</span></span>
                    <input formControlName="SenderAddress1" type="text" placeholder="SenderAddress1">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderAddress1'].invalid && registerForm.controls['SenderAddress1'].touched">
                        SenderAddress1 Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Address2</span>
                    <input formControlName="SenderAddress2" type="text" placeholder="SenderAddress2">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderAddress2'].invalid && registerForm.controls['SenderAddress2'].touched">
                        SenderAddress2 Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Post Code <span class="cor-required">*</span></span>
                    <input formControlName="SenderPostcode" type="text" placeholder="SenderPostcode">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['SenderPostcode'].invalid && registerForm.controls['SenderPostcode'].touched">
                        SenderPostcode Required.
                    </div>
                </div>
                <app-country-state-city [touched]="touched" ></app-country-state-city>
            </div>
        </div>

        <div class="w-50">
            <h1>Receiver Details</h1>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">First Name<span class="cor-required">*</span></span>
                    <input formControlName="ReceiverFname" type="text" placeholder="Enter your ReceiverFname">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverFname'].invalid && registerForm.controls['ReceiverFname'].touched">
                        ReceiverFname Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input formControlName="ReceiverLname" type="text" placeholder="Enter your ReceiverLname">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverLname'].invalid && registerForm.controls['ReceiverLname'].touched">
                        ReceiverLname Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Email<span class="cor-required">*</span></span>
                    <input formControlName="ReceiverEmail" type="ReceiverEmail" placeholder="Enter your ReceiverEmail">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverEmail'].invalid && registerForm.controls['ReceiverEmail'].touched">
                        ReceiverEmail Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number<span class="cor-required">*</span></span>
                    <input formControlName="ReceiverPhone" type="number" placeholder="Enter your ReceiverPhone">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverPhone'].invalid && registerForm.controls['ReceiverPhone'].touched">
                        ReceiverPhone Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Address1<span class="cor-required">*</span></span>
                    <input formControlName="ReceiverAddress1" type="text" placeholder="Address 1">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverAddress1'].invalid && registerForm.controls['ReceiverAddress1'].touched">
                        Address Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Address2</span>
                    <input formControlName="ReceiverAddress2" type="text" placeholder="ReceiverAddress2">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverAddress2'].invalid && registerForm.controls['ReceiverAddress2'].touched">
                        Address 2 Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">City <span class="cor-required">*</span></span>
                    <input formControlName="ReceiverCity" type="text" placeholder=" ReceiverCity">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverCity'].invalid && registerForm.controls['ReceiverCity'].touched">
                        ReceiverCity Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">State <span class="cor-required">*</span></span>
                    <input formControlName="ReceiverState" type="text" placeholder="ReceiverState">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverState'].invalid && registerForm.controls['ReceiverState'].touched">
                        State Required.
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Post Code <span class="cor-required">*</span></span>
                    <input formControlName="ReceiverPostcode" type="text" placeholder="ReceiverPostcode">
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverPostcode'].invalid && registerForm.controls['ReceiverPostcode'].touched">
                        Receiver Postcode Required.
                    </div>
                </div>
                <div class="select-dropdown ReceiverCountry">
                    <span class="details">Country <span class="cor-required">*</span></span>
                    <select formControlName="ReceiverCountry">
                        <option value="">--Select --</option>
                        <option value="Active">India</option>
                        <option value="Inactive">USA</option>
                        <option value="Inactive">China</option>
                        <option value="Inactive">Japan</option>
                    </select>
                    <div class="alert-message"
                        *ngIf="registerForm.controls['ReceiverCountry'].invalid && registerForm.controls['ReceiverCountry'].touched">
                        Country Required.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="cor-form">
        <div class="input-box">
            <span class="details">Cargo Date<span class="cor-required">*</span></span>
            <input formControlName="Date" type="date" placeholder="Enter your Date">
            <div class="alert-message"
                *ngIf="registerForm.controls['Date'].invalid && registerForm.controls['Date'].touched">
                Date Required.
            </div>
        </div>
        <div class="input-box">
            <span class="details">Expected Delivery Date</span>
            <input formControlName="ExpectedDeliveryDate" type="date" placeholder="Enter your ExpectedDeliveryDate">
            <div class="alert-message"
                *ngIf="registerForm.controls['ExpectedDeliveryDate'].invalid && registerForm.controls['ExpectedDeliveryDate'].touched">
                ExpectedDeliveryDate Required.
            </div>
        </div>
        <div class="select-dropdown  Shipping Method">
            <span class="details">ShippingMethod <span class="cor-required">*</span></span>
            <select formControlName="ShippingMethod">
                <option value="">--Select --</option>
                <option value="Active">Standard Shipping</option>
                <option value="Inactive">Express Shipping</option>
                <option value="Inactive">Overnight Shipping</option>
            </select>
            <div class="alert-message"
                *ngIf="registerForm.controls['ShippingMethod'].invalid && registerForm.controls['ShippingMethod'].touched">
                Shipping Method Required.
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div>
        <div>
            <div class="d-flex justify-content-end ">
                <div (click)="addbom()" class="btn mb-3 mr-3 btn-primary"><i class="fa-solid fa-plus"></i> Row
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ModifiedBy</th>
                        <th scope="col">Weight in KGs</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>

                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let a of myList;let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <div class="select-dropdown">
                                <select formControlName="ModifiedBy">
                                    <option value="">--Select --</option>
                                    <option value="1">Desktop</option>
                                    <option value="2">Mobile</option>
                                </select>
                                <div class="alert-message"
                                    *ngIf="registerForm.controls['ModifiedAt'].invalid && registerForm.controls['ModifiedAt'].touched">
                                    ModifiedAt Required.
                                </div>
                            </div>
                        <td><input class="w-100" formControlName="Status" type="number"></td>
                        <td><input class="w-100" formControlName="Status" type="text">
                            <div class="alert-message"
                                *ngIf="registerForm.controls['Status'].invalid && registerForm.controls['Status'].touched">
                                Status Required.
                            </div>
                        </td>
                        <td><i class="fa-solid fa-trash-can" (click)="_delete(i)"></i></td>

                    </tr>


                    <tr class="no-border">


                    </tr>
                    <tr class="no-border">
                        <td colspan="3" style="text-align: right;"><strong>TotalWeight</strong></td>
                        <td>
                            <input formControlName="CreatedAt" type="text">
                            <div class="alert-message"
                                *ngIf="registerForm.controls['TotalWeight'].invalid && registerForm.controls['TotalWeight'].touched">
                                TotalWeight Required.
                            </div>
                        </td>

                    </tr>
                    <tr class="no-border">
                        <td colspan="3" style="text-align: right;"><strong>RateKg</strong></td>
                        <td><input type="text"></td>
                        <div class="alert-message"
                            *ngIf="registerForm.controls['RateKg'].invalid && registerForm.controls['RateKg'].touched">
                            RateKg Required.
                        </div>


                    </tr>
                    <tr class="no-border">
                        <td colspan="3" style="text-align: right;"><strong>ServiceTax</strong></td>
                        <td><input type="text"></td>
                        <div class="alert-message"
                            *ngIf="registerForm.controls['ServiceTax'].invalid && registerForm.controls['ServiceTax'].touched">
                            ServiceTax Required.
                        </div>

                    </tr>
                    <tr class="no-border">
                        <td colspan="3" style="text-align: right;"><strong>Freight </strong></td>
                        <td><input type="text"></td>
                        <div class="alert-message"
                            *ngIf="registerForm.controls['Freight'].invalid && registerForm.controls['Freight'].touched">
                            Freigh Required
                        </div>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex">
        <div>
            <button type="submit" class="submit-button">Submit</button>
        </div>
        <div>
            <button class="close-button" routerLink="/scm/logistics/cargos/listing">Close</button>
        </div>
    </div>

</form>