/* You can add global styles to this file, and also import other style files */
@import 'src/assets/CSS/globalcss.scss';
@import 'src/assets/CSS/forms.scss';
@import 'src/assets/CSS/tabs.scss';
@import 'src/assets/CSS/reports.scss';
@import 'src/assets/CSS/grid-layout.scss';
@import 'src/assets/CSS/model.scss';
@import 'bootstrap/scss/bootstrap';
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0 ;
}
.cor-required{
    color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p,
a,
span,
div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}
