<div class="card-wrapper">
    <h1 class="title">New Invoice</h1>
    <hr />
    <div class="content">
      <form>
        <div class="cor-form">
          <div class="input-box">
            <span class="details">Customer Name</span>
            <input formControlName="customerName" type="text" placeholder="Customer Name" />
          </div>
          <div class="input-box">
            <span class="details">Invoice #</span>
            <input formControlName="invoiceNumber" type="number" placeholder="Invoice #" />
          </div>
          <div class="input-box">
            <span class="details">Order Number</span>
            <input formControlName="orderNumber" type="text" placeholder="Order Number" />
          </div>
          <div class="input-box">
            <span class="details">Invoice Date</span>
            <input formControlName="invoiceDate" type="date" placeholder="Invoice Date" />
          </div>
          <div class="input-box">
            <span class="details">Client Contact</span>
            <input formControlName="clientContact" type="number" placeholder="Enter your Client Contact" />
          </div>
          <div class="select-dropdown">
            <span class="details">Terms</span>
            <select formControlName="terms">
              <option value="">--Select--</option>
              <option value="1">NET 15</option>
              <option value="2">NET 45</option>
              <option value="3">NET 60</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Due Date</span>
            <input formControlName="dueDate" type="date" placeholder="Due Date" />
          </div>
          <div class="select-dropdown">
            <span class="details">Sales Person</span>
            <select formControlName="salesPerson">
              <option value="">--Select--</option>
              <option value="1">Sai</option>
              <option value="2">Ahmed</option>
              <option value="3">Dharni</option>
            </select>
          </div>
          <div class="select-dropdown">
            <span class="details">Currency Type</span>
            <select formControlName="payment_terms">
              <option value="USD">USD - United States Dollar</option>
              <option value="EUR">EUR - Euro</option>
              <option value="GBP">GBP - British Pound Sterling</option>
              <option value="JPY">JPY - Japanese Yen</option>
              <option value="AUD">AUD - Australian Dollar</option>
              <option value="CAD">CAD - Canadian Dollar</option>
              <option value="CHF">CHF - Swiss Franc</option>
              <option value="CNY">CNY - Chinese Yuan</option>
              <option value="INR">INR - Indian Rupee</option>
              <option value="NZD">NZD - New Zealand Dollar</option>
            </select>
          </div>
        </div>
        <div class="cor-form">
          <div class="input-box textarea-box">
            <span class="details">Terms & Conditions</span>
            <textarea formControlName="termsConditions" rows="5"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div (click)="addbom()" class="btn mb-3 mr-3 btn-primary">+ Row</div>
        </div>
        <h3 style="font-weight: bolder">Add Line Items</h3>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Item Details</th>
              <th>Product Code</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of myList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <select formControlName="product_name">
                  <option value="">--Select--</option>
                  <option value="1">Laptop</option>
                  <option value="2">Mobile</option>
                </select>
              </td>
              <td>
                <input class="w-50" formControlName="product_code" type="text" />
              </td>
              <td>
                <input class="w-50" formControlName="qtyOrdered" type="text" />
              </td>
              <td>
                <input class="w-50" formControlName="unitPrice" type="text" />
              </td>
              <td>
                <input class="w-50" formControlName="totalPrice" type="text" />
              </td>
              <td><i class="fa-solid fa-trash-can" (click)="_delete(i)"></i></td>
            </tr>
            <tr class="no-border">
              <td colspan="6" style="text-align: right;"><strong>Subtotal</strong></td>
              <td>$405.50</td>
              <td></td>
            </tr>
            <tr class="no-border">
              <td colspan="6" style="text-align: right">
                <strong class="pr-3">Total Discount</strong>
                <select style="width: 150px;" formControlName="userStatus">
                  <option value="">--Select --</option>
                  <option value="1">Quantity Discount</option>
                  <option value="2">Seasonal Discount</option>
                  <option value="3">Cash Discount</option>
                </select>
              </td>
              <td>
                <input class="w-50" type="text" />
              </td>
            </tr>
            <tr class="no-border">
              <td colspan="6" style="text-align: right">
                <strong class="pr-3">Taxs</strong>
                <select style="width: 150px;" formControlName="userStatus">
                  <option value="">--Select --</option>
                  <option value="1">Income Tax</option>
                  <option value="2">Sales Tax</option>
                  <option value="3">Value Added Tax (VAT)</option>
                  <option value="4">Goods And Service Tax (GST)</option>
                  <option value="5">Gift Tax</option>
                </select>
              </td>
              <td>
                <input class="w-50" type="text" />
              </td>
            </tr>
            <tr class="no-border">
              <td colspan="6" style="text-align: right;"><strong>Additional Charges (Shipping, Taxes,
                  etc.)</strong></td>
              <td>
                <div class="input-box w-50">
                  <input formControlName="additionalCharges" type="text">
                </div>
              </td>
            </tr>
            <tr class="no-border">
              <td colspan="6" style="text-align: right;"><strong>Grand total</strong></td>
              <td>$455.50</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex">
          <button routerLink="/scm/order-mangements/invoices/view" class="submit-button">
            Save as Draft
          </button>
          <button routerLink="/scm/order-mangements/invoices/view" class="submit-button">
            Save and Send
          </button>
          <button routerLink="/scm/order-mangements/invoices/listing" class="close-button">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
