<div class="card-wrapper">
    <div class="d-flex justify-content-between ">
        <h1>All LOT</h1>
        <div>
            <button routerLink="/scm/inventory/lot/add-lot" class="btn mb-3 mr-3 btn-primary">Add LOT</button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lot number</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td >01</td>
                <td data-label="Company Name">4344</td>
              
            </tr>
            <tr>
                <td >02 </td>
                <td data-label="Company Name">556776</td>
                
            </tr>
            <tr>
                <td >03  </td>
                <td data-label="Company Name">546545</td>
                
            </tr>
            <tr>
                <td >04  </td>
                <td data-label="Company Name">34354</td>
                
            </tr>
            <tr>
                <td >05  </td>
                <td data-label="Company Name">44676686</td>
                
            </tr>
            <tr>
                <td >06 </td>
                <td data-label="Company Name">3435556</td>
                
            </tr>
        </tbody>
    </table>
</div>