<div class="d-flex justify-content-between ">
    <h1>Taxs</h1>
</div>
<div class="d-flex gap-3 align-items-end">

    <div class="input-box">
        <span class="details">Enter tax Name</span>
        <input formControlName="userName" type="text" placeholder="Enter tax Name">
    </div>

    <div class="input-box">
        <span class="details">Enter tax %</span>
        <input formControlName="userName" type="text" placeholder="Enter tax %">
    </div>
    <div>
        <button class="btn mb-3 mr-3 btn-primary">Submit</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Taxs</th>
            <th scope="col">Percentage</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlighted-row">1</td>
            <td>Income Tax</td>
            <td>3%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>
            </td>
        </tr>
        <tr>
            <td class="highlighted-row">2</td>
            <td>Sales Tax</td>
            <td>4%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">3</td>
            <td>Value Added Tax (VAT)</td>
            <td>2%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">4</td>
            <td>Goods And Service Tax (GST)</td>
            <td>1%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>
        <tr>
            <td class="highlighted-row">5</td>
            <td>Gift Tax</td>
            <td>3%</td>
            <td class="">
                <i class="fa-regular fa-pen-to-square"></i>

            </td>
        </tr>



    </tbody>
</table>
