<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">DATE</th>
            <th scope="col">Credits Order #</th>
            <th scope="col">Order  Number</th>
            <th scope="col">CUSTOMER NAME</th>
            <th scope="col"> STATUS</th>
            <th scope="col">Due Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Balance Due</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >17.07.2024</td>
            <td routerLink="/scm/order-mangements/invoices/view" class="highlighted-row">234</td>
            <td>456</td>
            <td >ramireddy</td> 
            <td ></td>
            <td >12.09.2023</td>
            <td>50000</td>
            <td>20000</td>
           
        </tr>
        <tr>
            <td>18.07.2024</td>
            <td routerLink="/scm/order-mangements/invoices/view" class="highlighted-row">235</td>
            <td>459</td>
            <td >ram</td>
            <td ></td>
            <td >12.09.2023</td>
            <td>50000</td>
            <td>30000</td>
           
           
        </tr>
        <!-- <tr>
            <td class="highlighted-row">John Smith Customer</td>
            <td data-label="Company Name">possimus</td>
            <td data-label="Email"></td>
            <td data-label="Work Phone"></td>
            <td data-label="Receivables">Rs.820</td>
            <td data-label="Unused Credits">Rs.35</td>
        </tr>
        <tr>
            <td class="highlighted-row">Emily Johnson Customer</td>
            <td data-label="Company Name">nostrum</td>
            <td data-label="Email"></td>
            <td data-label="Work Phone"></td>
            <td data-label="Receivables">Rs.811</td>
            <td data-label="Unused Credits">Rs.39</td>
        </tr>
        <tr>
            <td class="highlighted-row">John Smith Customer</td>
            <td data-label="Company Name">possimus</td>
            <td data-label="Email"></td>
            <td data-label="Work Phone"></td>
            <td data-label="Receivables">Rs.820</td>
            <td data-label="Unused Credits">Rs.35</td>
        </tr>
        <tr>
            <td class="highlighted-row">Emily Johnson Customer</td>
            <td data-label="Company Name">nostrum</td>
            <td data-label="Email"></td>
            <td data-label="Work Phone"></td>
            <td data-label="Receivables">Rs.811</td>
            <td data-label="Unused Credits">Rs.39</td>
        </tr> -->
    </tbody>
</table>
