<div class="card-wrapper">
    <div class="container-fluid">
        <div>
            <h1>Work Order </h1>
        </div>
        <div class="d-flex justify-content-between align-items-end py2 ">
            <div>
                <strong>WO-ID# : WO001</strong>
                <div>
                    <strong>Product Name : Product A</strong>
                </div>
                <div>Production Plan-ID# : 00001</div>
                <div>BOM ID : BOM-001</div>
                <div>Status : In Progress</div>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-light btn-sm me-2">
                    <i class="bi bi-pencil"></i> Edit
                </button>
                <button class="btn btn-light btn-sm me-2">
                    <i class="fa-solid fa-check-circle me-2"></i> Work Order Completed
                </button>
                <button routerLink="/scm/manufacturings/quality/qc-adds" class="btn btn-light btn-sm me-2">
                    <i class="fa-solid fa-tasks me-2"></i> Create QC Inspection
                </button>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="pl-3">Work Order Details</h2>
    <div class="d-flex gap-5 pl-3 pr-3">
        <div class="w-50">
            <p class="d-flex justify-content-between"><strong>work Order Number </strong> 55858</p>
            <p class="d-flex justify-content-between"><strong>Product Name*</strong> </p>
            <p class="d-flex justify-content-between"><strong>Product Level</strong> -</p>
            <p class="d-flex justify-content-between"><strong>Shopping Method</strong>manufacturing</p>
            <p class="d-flex justify-content-between"><strong>Work Order Type</strong>Standart</p>
            <p class="d-flex justify-content-between"><strong>Product Code*</strong> 10</p>
            <p class="d-flex justify-content-between"><strong>Depertment</strong>Tata</p>
            <p class="d-flex justify-content-between"><strong>Comments</strong> -</p>
        </div>
        <div class="w-50">
            <p class="d-flex justify-content-between"><strong>Delivery Date</strong> WH-1</p>
            <p class="d-flex justify-content-between"><strong>Customer*</strong>Basic Price List</p>
            <p class="d-flex justify-content-between"><strong>Ouantity Ordered</strong> -</p>
            <p class="d-flex justify-content-between"><strong>Batch Number</strong>My Project</p>
            <p class="d-flex justify-content-between"><strong>Supervisor Approval</strong> -</p>
            <p class="d-flex justify-content-between"><strong>Order Date*</strong> -</p>
            <p class="d-flex justify-content-between"><strong> QTY produced</strong> -</p>
            <p class="d-flex justify-content-between"><strong>Material Issued Date</strong> -</p>
            <p class="d-flex justify-content-between"><strong>Description</strong> -</p>
        </div>
    </div>
</div>