<div class="card-wrapper">
    <div class="d-flex justify-content-between ">
        <h1>All Stock Transfer</h1>
        <div>
            <button routerLink="/scm/warehouse/stock-transfer-forms/add-transfer" class="btn mb-3 mr-3 btn-primary">+ New</button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Transfer from</th>
                <th scope="col">Transfer To</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="#">1</td>
                <td  data-label="Product" class="highlighted-row">HDD</td>
                <td data-label="Transfer_from">WH-1</td>
                <td data-label="Transfer_To">WH-2</td>
                <td data-label="Quantity">133</td>
                <td data-label="Status">Accepted</td>
            </tr>
            <tr>
                <td data-label="#">2</td>
                <td  data-label="Product" class="highlighted-row">RAM</td>
                <td data-label="Transfer_from">WH-1</td>
                <td data-label="Transfer_To">WH-2</td>
                <td data-label="Quantity">200</td>
                <td data-label="Status">Accepted</td>
            </tr>
            <tr>
                <td data-label="#">3</td>
                <td  data-label="Product" class="highlighted-row">SSD</td>
                <td data-label="Transfer_from">WH-1</td>
                 <td data-label="Transfer_To">WH-2</td>
                <td data-label="Quantity">50</td>
                <td data-label="Status">Rejected</td>
            </tr>
            <tr>
                <td data-label="#">4</td>
                <td  data-label="Product" class="highlighted-row">Monitor</td>
                <td data-label="Transfer_from">WH-1</td>

                <td data-label="Transfer_To">WH-2</td>
                <td data-label="Quantity">44</td>
                <td data-label="Status">Accepted</td>
            </tr>
            <tr>
                <td data-label="#">5</td>
                <td  data-label="Product" class="highlighted-row">Mouse</td>
                <td data-label="Transfer_from">WH-1</td>

                <td data-label="Transfer_To">WH-2</td>
                <td data-label="Quantity">50</td>
                <td data-label="Status">Pending</td>
            </tr>
            <tr>
                <td data-label="#">6</td>
                <td  data-label="Product" class="highlighted-row">Key Board</td>
                <td data-label="Transfer_from">WH-1</td>

                <td data-label="Transfer_To">WH-2</td>
                <td data-label="Quantity">100</td>
                <td data-label="Status">Rejected</td>
            </tr>
        </tbody>
    </table>
</div>