<div class="card-wrapper">
    <div class="d-flex justify-content-between ">
        <h1>Bill of Material</h1>
        <div>
            <button class="btn mb-3 mr-3 btn-primary" routerLink="/scm/manufacturings/boms/boms-add">+ New</button>

        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <tr>
                <th>BOM ID</th>
                <th>Product Name</th>
                <th>Component Description</th>
                <th>Quantity Required</th>
                <th>Cost</th>
                <th>Supplier</th>
                <th>Effective Date</th>
                <th>Status</th>
                <th>BOM Type</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="BOM_ID" class="highlighted-row" routerLink="/scm/manufacturings/boms/boms-view">BOM-001
                </td>
                <td>Example Product</td>
                <td>Example Component</td>
                <td>10</td>
                <td>$5.00</td>
                <td>Supplier ABC</td>
                <td>2024-09-01</td>
                <td>Active</td>
                <td>Draft</td>
            </tr>
            <tr>
                <td data-label="BOM_ID" class="highlighted-row" routerLink="/scm/manufacturings/boms/bom-view">BOM-001
                </td>
                <td>Example Product</td>
                <td>Example Component</td>
                <td>10</td>
                <td>$5.00</td>
                <td>Supplier ABC</td>
                <td>2024-09-01</td>
                <td>Active</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td data-label="BOM_ID" class="highlighted-row" routerLink="/scm/manufacturings/boms/boms-view">BOM-001
                </td>
                <td>Example Product</td>
                <td>Example Component</td>
                <td>10</td>
                <td>$5.00</td>
                <td>Supplier ABC</td>
                <td>2024-09-01</td>
                <td>Active</td>
                <td>Active</td>
            </tr>
            <tr>
                <td data-label="BOM_ID" class="highlighted-row" routerLink="/scm/manufacturings/boms/boms-view">BOM-001
                </td>
                <td>Example Product</td>
                <td>Example Component</td>
                <td>10</td>
                <td>$5.00</td>
                <td>Supplier ABC</td>
                <td>2024-09-01</td>
                <td>Active</td>
                <td>Active</td>
            </tr>
            <tr>
                <td data-label="BOM_ID" class="highlighted-row" routerLink="/scm/manufacturings/boms/boms-view">BOM-001
                </td>
                <td>Example Product</td>
                <td>Example Component</td>
                <td>10</td>
                <td>$5.00</td>
                <td>Supplier ABC</td>
                <td>2024-09-01</td>
                <td>Active</td>
                <td>Inactive</td>
            </tr>

        </tbody>
    </table>

</div>
<!-- <button routerLink="/scm/manufacturing/bom/listing">bom listing</button>
    <button routerLink="/scm/manufacturing/bom/add-bom">Add bom</button>
    <button  routerLink="/scm/manufacturing/bom/bom-view">bom view</button> -->