<div *ngIf="!addNew">
    <div class="d-flex justify-content-between ">
        <h2>Dimensions</h2>
        <div>
            <button class="btn mb-3 mr-3 btn-primary" (click)="addNew = true">+ Add New</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Dimensions</th>
                <th>Charges</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>30*30*30 cm</td>
                <td>$5</td>
                <td>Small cubic box, suitable for light items</td>
                <td>
                    <i class="fa-regular fa-pen-to-square"></i>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>50*50*50 cm</td>
                <td>$10</td>
                <td>Medium-sized box, suitable for regular goods</td>
                <td>
                    <i class="fa-regular fa-pen-to-square"></i>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>70*70*70 cm</td>
                <td>$20</td>
                <td>Large box for bulkier or heavier items</td>
                <td>
                    <i class="fa-regular fa-pen-to-square"></i>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>100*100*100 cm</td>
                <td>$30</td>
                <td>Very large box for oversized goods</td>
                <td>
                    <i class="fa-regular fa-pen-to-square"></i>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>120*120*120 cm</td>
                <td>$50</td>
                <td>Extra-large box for industrial or large-scale items</td>
                <td>
                    <i class="fa-regular fa-pen-to-square"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="addNew">
    <h2 class="title">New Dimensions</h2>
    <hr>
    <div class="content">
        <form>
            <div class="cor-form">
                <div class="input-box">
                    <span class="details">Dimensions</span>
                    <input formControlName="Dimensions" type="text" placeholder="Enter your Dimensions">
                </div>
                <div class="input-box">
                    <span class="details">Charges</span>
                    <input formControlName="Charges" type="number" placeholder="Enter your Charges">
                </div>
            </div>
            <div class="cor-form">
                <div class="input-box textarea-box">
                    <span class="details">Description</span>
                    <textarea formControlName="description" rows="5"></textarea>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <button class="submit-button" (click)="addNew = false">Submit</button>
                </div>
                <div>
                    <button class="close-button" (click)="addNew = false">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
